<div class="container">
  <h1>Nguyen Trong Lam</h1>
  <h3>Personal Profile</h3>
  <a href="#"><img src="../static/271134658_4629026420542009_2922458126061077667_n.jpeg" alt="profile-picture" border="0" /></a>
  <h4>About Me</h4>
  <p>Hi, I'm Nguyen Trong Lam.</p>
  <h4>My Skills</h4>
  <div class="listFlex">
     <div>
        <ul>
           <li>HTML</li>
           <li>CSS</li>
           <li>Python</li>
        </ul>
     </div>
  </div>
  <h4>Contact</h4>
  Catch me on Github - <a href="https://github.com/tronglamitmo142">@tronglamitmo142</a>
</div>